/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

/*// FOR REFERENCE

------USE THESE--------
// white #fff
// army gold #FFD530
// old glory red #BB133E
// old glory blue #002664
// light camo #BFB8AB
// dark camo #333C33
// medium camo #83847A
------------------------

// font-family: 'Exo 2', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Raleway', sans-serif;*/
/* 
/*
*/
*{
--army-gold: #FFD530;
--glory-red: #BB133E;
--glory-blue: #002664;
--light-camo: #BFB8AB;
--dark-camo: #333C33;
--medium-camo: #83847A;
--some-white: #fff;
}

#header div{
	background: var(--dark-camo);
}

.logo{
	width:20em;
	padding: 2em;
}


.container{
	background: var(--medium-camo);
	margin: 0;
	padding: .4em;

}

.navBarComponent a: hover{

	border-bottom: .1em dashed var(--army-gold);
}

.headerComponent{

	font-family: 'Exo 2', sans-serif;
	background: var(--light-camo);
}

/*------------ JOINED GROUPS MODULE --------------*/

.joinedGroupsContainer{ 

	padding:1.5em;
	height: 20em;
	background: none;
	border: .1em dashed #F3CF45;
	overflow-y: scroll;
	margin: auto;	
	margin-top: 2em;
	text-align: center;

}

.joinedGroupsContainer p{
	padding: .2em;
	margin: auto;
}

.joinedGroupsContainer h4{
	padding: .2em;
	margin: auto;
	text-align: left;
}

.singleGroupSnapshot{
	border-bottom: .1em solid #1d3557;
	padding-left: .2em;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em; 
}

/*---------------------------------------------*/

/*----------- ABOUT SECTION ON HOMEPAGE -------*/

/*---------- registration and login -----------*/
#login{
	background: rgba(1,1,1,0);
	color: var(--dark-camo);
}
#signup{
	background: rgba(1,1,1,0);
	color: var(--dark-camo);
}
.loginComponent h3{

	font-family: 'Exo 2', sans-serif;
	color: var(--dark-camo);

}

.loginComponent{
	color: var(--dark-camo);
	border-left: .1em solid var(--dark-camo);

}


#loginLabel{

	color: blue;
	font-family: 'Exo 2', sans-serif;

}

#registerLabel{
	color: var(--dark-camo);
	font-family: 'Exo 2', sans-serif;

}

#loginForm input{
	border: .1em solid var(--dark-camo);
	background: none;
	color: var(--dark-camo);
	font-family: 'PT Sans', sans-serif;

}

#registerH3 h3{
	font-family: 'Exo 2', sans-serif;
	color: var(--dark-camo);
}

#loginH3 {
	font-family: 'Exo 2', sans-serif;
	color: var(--dark-camo);
}

#registerForm input{
	border: .1em solid var(--dark-camo);
	background: none;
	color: var(--dark-camo);
	font-family: 'PT Sans', sans-serif;
}

.btn-success{
	background: bluesteel;
}

.btn-primary{
	background: bluesteel;

}

.aboutSection{
	padding: 1.5em;
	margin: auto;
}

.auth-container{

}

/*-------------- SINGLE GROUP PAGE ------------*/

#singleGroupInfo{
	text-align: center;
}



/*------------ FOOTER -------------------------*/

#footerFooter{
	/*background: var(--light-camo);*/
	width: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	margin: auto;
}

#groupJoin {
	background-color: #e63946;
	font-size: 16px;
	color:#f1faee;
}

.list-group.col-12 {
	padding: 5px 10px;
}